@import "abstracts/mixins";

@import "base/base";

@import "abstracts/variables";
@import "components/container";
@import "components/phoneNav";
@import "components/socialMedia";
@import "components/burger";
@import "components/header";

@import "pages/contactPage";
@import "pages/loginPage";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: $color-dark;
  line-height: 1.6;
  min-height: 100vh;
  overflow-x: hidden;
  background: $color-black;
  color: #bcc7d4;
}

ul {
  list-style: none;
}

a {
  color: $color-dark;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
  z-index: 20;

  h1 {
    font-size: 55px;
    letter-spacing: 8px;
    @include respond-phone {
      font-size: 100%;
    }
  }

  p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
    letter-spacing: 6px;
    @include respond-phone {
      font-size: 100%;
    }
  }
}
