

.container {
  height: 100%;
  margin: auto;
  width: 100%;
  max-width: 1024px;
  padding: 0 20px;
  color: $color-light;
  margin-bottom: 50px;
  

    section {
      margin-bottom: 30px!important;
    }


    &__header-section {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 20px;
      margin-bottom: 15px;
      margin-left: 10px;
      margin-right: 10px;
      @include respond-phone {
        font-size: 60%;
      }
    }
  
    &__btn {
      border-radius: 4px;
      padding: 8px 18px;
      color: $color-light;
      opacity: 0.50;
      font-size: 14px;
      transition: 0.35s;
      background-color: rgba(90, 90, 122, 0.4);

      @include respond-phone {
        font-size: 100%;
        span {
          display: none;
        }
        &::after {
        content: 'Browse More';
      }

      }

        &:hover {
          background-color: rgba(90, 90, 122, 0.4);
          opacity: 3;
        }
    }

    &__grid-5 {
      box-sizing: border-box;
      display: flex;
      flex-flow: row wrap;
      // margin: 0 -7.5px;
    }
}



.col {
  flex-basis: 20%;
  max-width: 20%;
  padding: 7.5px;

  @include respond-phone {
    flex-basis: 100%;
    max-width: 100%;
  }
}



.beatItem {
  // opacity: 0;
  background: rgba(35, 37, 43, 0.5);
  border-radius: 10px;
  transition: .3s;

    &__top {
      position: relative;
      width: 100%!important;

      @include respond-phone {
        max-width: 120px;
      }

      .soldLayer {
        background: rgba(35,37,43,.8);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        display: none;


        span {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          border: 2px solid #fff;
          height: 60px;
          width: 60px;
          font-size: 15px;
          font-weight: 900;
          border-radius: 50%;
        }
      }
    }

    &__labels {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      position: absolute;
      top: 10px;
      left: 0;
      color: $color-light;
      font-size: 11px;
      font-weight: 900;
      background: rgba(206, 41, 0, 1);
      padding: 3px 10px 3px 10px;
      border-radius: 0 300px 300px 0;
      // display: none;

      // &.active {
      //   display: block;
      // }

      @include respond-phone {
        font-size: 9px;
      }
    }

    &__bottomWrapper {
      position: relative;
      color: #bcc7d4;
      text-align: left;

      @include respond-phone {
        align-self: center;
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      a {
        width: 100%;
        height: 100%;
      }

      .respo {
        @include respond-phone {
          
        }
      }

    }

      .moreInfoIcon {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          z-index: 70;
        }
        .rightIcon {
          position: absolute;
          right: 20px;
          height: 20px;
          color: #dd1f5f;
          // z-index: 60;
        }

        @include respond-phone-min {
          display: none;
        }
      }

    &__MoreInfoForDevices {

      @include respond-phone {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    }


    &__nameAndUsername {
      padding: 20px;
      overflow: hidden;
      white-space: nowrap;

      
      

      .name {
        color: #bcc7d4;
      }

      .username {
        text-transform: capitalize;
        color: #5a626b;
        font-size: 14px;
      }

    }

    &__lineData {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      white-space: nowrap;
      text-transform: uppercase;
      margin-right: 4px;
      display: flex;
      font-weight: 900;
      font-size: 13px;
      align-items: center;
      justify-content: flex-start;

      .price {
        color: #fff;
        position: relative;
        padding: 0 12px 0 10px;
        background: #282b32bb;
        border-radius: 2px;
        margin-bottom: 10px;

        @include respond-phone {
          margin-left: 20px;
        }
      }

      .daw {
        padding: 0 5px;
        margin-left: 60px;
        margin-bottom: 10px;
        background: #282b32bb;
        border-radius: 10px;

        @include fix-one {
          margin-left: 45px;
        }

        @include respond-phone {
          margin-left: 5px;
          background: none;
        }

        img {
          max-width: 100%;
          height: 17px;
          border-style: none;
          vertical-align: middle;
        }
      }
    }

    &__buttons {
      // visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: .2s;
      padding: 10px;
      width: 100%;
      height: 100%;
      background: #16181b;
      border-radius: 10px;

      @include respond-phone {
        visibility: hidden;
      }

      &:hover {
        // visibility: visible;
        opacity: 1;
      }

      a {
        font-weight: 400;
        height: 45%;
        width: 100%;
        margin-bottom: 10px;
        background: #282b32;
        color: $color-light;
        transition: .3s;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
      }

      button {
        all: unset;
        background: #dd1f5f;
        font-weight: 600;
        height: 45%;
        width: 100%;
        -webkit-appearance: button;
        cursor: pointer;
        color: #fff;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
}



.cover  {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;

 

  img{
    max-width: 100%;
    border-style: none;
    vertical-align: middle;
    border-radius: 10px;
  }

  &:after {
    content: "";
    display: block;
    // padding-bottom: 100%;
  }

  span {
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;

    &:hover {
      opacity: 1;
    }

    img {
      position: absolute;
      font-size: 20px;
      left: 5px;
      max-width: 100%;
      -webkit-filter: grayscale(1) invert(1);
      filter: grayscale(1) invert(0.8);
    }
  }
}


