footer {
   position: relative;
   width: 100%;
   height: auto;
   padding: 50px 100px;
   background: linear-gradient(#1d1d1dde, #1d1d1dde, #1d1d1dde, #1d1d1dde, #1d1d1dde, #000);
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

   @include respond-phone {
      padding: 40px;
   }

   section {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;

      @include respond-phone {
         flex-direction: column;
      }

      h2 {
         position: relative;
         font-weight: 500;
         margin-bottom: 20px;

         &::before {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 50px;
            height: 2px;
            background: #e91c60cb;
         }
      }

      .footerSec {
         margin-right: 35px;

         @include respond-phone {
            margin-right: 0;
            margin-bottom: 40px;
         }
      }

      .aboutUs {
         width: 30%;

         p {
            color: #bcc7d4b2;
         }

         @include respond-phone {
            width: 100%;
         }
      }

      .quickLinks {
         position: relative;
         width: 25%;

         @include respond-phone {
            width: 100%;
         }

         li {
            margin-bottom: 10px;
         }

         #footerLink {
            color: #bcc7d49a;
            display: inline-block;
            transition: 0.2s;

            &:hover {
               color: $color-light;
            }
         }
      }

      .contact {
         width: calc(35% - 60px);
         margin-right: 0 !important;

         @include respond-phone {
            width: 100%;
         }

         .contactInfo {
            position: relative;

            li {
               display: flex;
               margin-bottom: 10px;

               span {
                  color: #bcc7d4ef;
                  font-size: 20px;
                  margin-right: 10px;
                  transition: 0.2s;

                  &:hover {
                     color: #fff;
                  }
               }

               a {
                  color: #bcc7d49a;
                  transition: 0.2s;

                  &:hover {
                     color: $color-light;
                  }
               }
            }
         }
      }
   }
}

.copyrightText {
   font-size: 10px;
   text-transform: uppercase;
   font-weight: 900;
   color: rgba(90, 98, 107, 0.5);
   text-align: center;
}
