#navbarMenu {
  z-index: 50;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #1e2025;
  bottom: 0;
  top: 0;
  transition: .2s;
  padding: 60px 0 80px;
  // transform: translate(100%);

  ul {
    padding-left: 0!important;

    li {
      background: #23252b;
      margin-bottom: 5px;
      border-radius: 2px;
      padding-left: 20px;

      a {
        padding: 10px 0;
        display: block;
        color: #7e8893;
      }
    }
  }

  &.active {
    transform: translate(0);
  }

  @include respond-phone-min {
    display: none;
  }

  .wrapper {
    padding: 10px;
  }
}