#socialMedia {
  @include respond-phone {
    display: none;
  }


  .links {
    position: fixed;
    right: -850px;
    z-index: 1;
    top: 350px;
  
    a {
      filter: invert(54%) sepia(16%) saturate(256%) hue-rotate(171deg) brightness(95%) contrast(89%);

      &:hover {
        filter: brightness(0) invert(1);
        
      }
      
      img {
        padding: 10px 0px;
        
      }
      
      
      
    }
  }
}

