/*
0 - 600px:       Phone
600 - 900px:     Tablet portrait
600 - 1200px:    Tablet landscape
[1200 - 1800]    normal styles
1800 + :         Big screen
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  -webkit-text-size-adjust: 100%; }

.container {
  height: 100%;
  margin: auto;
  width: 100%;
  max-width: 1024px;
  padding: 0 20px;
  color: #bcc7d4;
  margin-bottom: 50px; }
  .container section {
    margin-bottom: 30px !important; }
  .container__header-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px; }
    @media (max-width: 900px) {
      .container__header-section {
        font-size: 60%; } }
  .container__btn {
    border-radius: 4px;
    padding: 8px 18px;
    color: #bcc7d4;
    opacity: 0.50;
    font-size: 14px;
    transition: 0.35s;
    background-color: rgba(90, 90, 122, 0.4); }
    @media (max-width: 900px) {
      .container__btn {
        font-size: 100%; }
        .container__btn span {
          display: none; }
        .container__btn::after {
          content: 'Browse More'; } }
    .container__btn:hover {
      background-color: rgba(90, 90, 122, 0.4);
      opacity: 3; }
  .container__grid-5 {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap; }

.col {
  flex-basis: 20%;
  max-width: 20%;
  padding: 7.5px; }
  @media (max-width: 900px) {
    .col {
      flex-basis: 100%;
      max-width: 100%; } }

.beatItem {
  background: rgba(35, 37, 43, 0.5);
  border-radius: 10px; }
  .beatItem__top {
    position: relative;
    width: 100% !important; }
    @media (max-width: 900px) {
      .beatItem__top {
        max-width: 120px; } }
  .beatItem__labels {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 0;
    color: #bcc7d4;
    font-size: 11px;
    font-weight: 900;
    background: #ce2900;
    padding: 3px 10px 3px 10px;
    border-radius: 0 300px 300px 0; }
    @media (max-width: 900px) {
      .beatItem__labels {
        font-size: 9px; } }
  .beatItem__bottomWrapper {
    position: relative;
    color: #bcc7d4;
    text-align: left; }
    @media (max-width: 900px) {
      .beatItem__bottomWrapper {
        align-self: center;
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: flex-start; } }
    .beatItem__bottomWrapper a {
      width: 100%;
      height: 100%; }
  .beatItem .moreInfoIcon {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .beatItem .moreInfoIcon a {
      z-index: 70; }
    .beatItem .moreInfoIcon .rightIcon {
      position: absolute;
      right: 20px;
      height: 20px;
      color: #dd1f5f; }
    @media (min-width: 900px) {
      .beatItem .moreInfoIcon {
        display: none; } }
  @media (max-width: 900px) {
    .beatItem__MoreInfoForDevices {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center; } }
  .beatItem__nameAndUsername {
    padding: 20px;
    overflow: hidden;
    white-space: nowrap; }
    .beatItem__nameAndUsername .name {
      color: #bcc7d4; }
    .beatItem__nameAndUsername .username {
      text-transform: capitalize;
      color: #5a626b;
      font-size: 14px; }
  .beatItem__lineData {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    text-transform: uppercase;
    margin-right: 4px;
    display: flex;
    font-weight: 900;
    font-size: 13px;
    align-items: center;
    justify-content: flex-start; }
    .beatItem__lineData .price {
      color: #fff;
      position: relative;
      padding: 0 12px 0 10px;
      background: #282b32bb;
      border-radius: 2px;
      margin-bottom: 10px; }
      @media (max-width: 900px) {
        .beatItem__lineData .price {
          margin-left: 20px; } }
    .beatItem__lineData .daw {
      padding: 0 5px;
      margin-left: 60px;
      margin-bottom: 10px;
      background: #282b32bb;
      border-radius: 10px; }
      @media (max-width: 970px) {
        .beatItem__lineData .daw {
          margin-left: 45px; } }
      @media (max-width: 900px) {
        .beatItem__lineData .daw {
          margin-left: 5px;
          background: none; } }
      .beatItem__lineData .daw img {
        max-width: 100%;
        height: 17px;
        border-style: none;
        vertical-align: middle; }
  .beatItem__buttons {
    opacity: 0;
    position: absolute;
    top: 0;
    transition: .2s;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: #16181b;
    border-radius: 10px; }
    @media (max-width: 900px) {
      .beatItem__buttons {
        visibility: hidden; } }
    .beatItem__buttons:hover {
      opacity: 1; }
    .beatItem__buttons a {
      font-weight: 400;
      height: 45%;
      width: 100%;
      margin-bottom: 10px;
      background: #282b32;
      color: #bcc7d4;
      transition: .4s;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px; }
    .beatItem__buttons button {
      all: unset;
      background: #dd1f5f;
      font-weight: 600;
      height: 45%;
      width: 100%;
      -webkit-appearance: button;
      cursor: pointer;
      color: #fff;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center; }

.cover {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden; }
  .cover img {
    max-width: 100%;
    border-style: none;
    vertical-align: middle;
    border-radius: 10px; }
  .cover:after {
    content: "";
    display: block; }
  .cover span {
    cursor: pointer;
    transition: .3s linear;
    opacity: 0; }
    .cover span:hover {
      opacity: 1; }
    .cover span img {
      position: absolute;
      font-size: 20px;
      left: 5px;
      max-width: 100%;
      -webkit-filter: grayscale(1) invert(1);
      filter: grayscale(1) invert(0.8); }

#navbarMenu {
  z-index: 50;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #1e2025;
  bottom: 0;
  top: 0;
  left: 0;
  transition: 0.2s;
  padding: 60px 0 80px;
  transform: translateX(100%); }
  #navbarMenu ul {
    padding-left: 0 !important; }
    #navbarMenu ul li {
      background: #23252b;
      margin-bottom: 5px;
      border-radius: 8px; }
      #navbarMenu ul li .homeIcon {
        font-size: 13px;
        position: absolute;
        left: 5px;
        padding: 15px; }
      #navbarMenu ul li a {
        padding: 10px 40px;
        display: block;
        color: #7e8893; }
        #navbarMenu ul li a:hover {
          background: #17191d;
          border-radius: 5px; }
  #navbarMenu.active {
    transform: translateX(0); }
  @media (min-width: 900px) {
    #navbarMenu {
      display: none; } }
  #navbarMenu .wrapper {
    padding: 10px; }

@media (max-width: 900px) {
  #socialMedia {
    display: none; } }

#socialMedia .links {
  position: fixed;
  right: -850px;
  z-index: 1;
  top: 350px; }
  #socialMedia .links a {
    filter: invert(54%) sepia(16%) saturate(256%) hue-rotate(171deg) brightness(95%) contrast(89%); }
    #socialMedia .links a:hover {
      filter: brightness(0) invert(1); }
    #socialMedia .links a img {
      padding: 10px 0px; }

.burger {
  z-index: 60;
  width: 2rem;
  height: 1.2rem;
  position: fixed;
  top: 27px;
  right: 25px;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  cursor: pointer; }
  @media (min-width: 900px) {
    .burger {
      display: none; } }
  .burger i {
    width: 1.8rem;
    height: 0.20rem;
    background-color: #7e8893;
    border-radius: 10px;
    transition: all 0.3s linear;
    transform-origin: 14.5px; }
  .burger .open:nth-child(1) {
    transform: rotate(45deg) translateY(11px); }
  .burger .open:nth-child(2) {
    transform: translateX(100%);
    opacity: 0; }
  .burger .open:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px); }
  .burger .close:nth-child(1) {
    transform: rotate(0); }
  .burger .close:nth-child(2) {
    transform: translateX(0);
    opacity: 1; }
  .burger .close:nth-child(3) {
    transform: rotate(0); }

.header {
  background: url("/src/img/studio6.jpg") no-repeat center center/cover;
  height: 50vh;
  position: relative;
  margin-bottom: 30px; }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 75%, #000) 100%; }
  .header *,
  .header :after,
  .header :before {
    box-sizing: border-box;
    z-index: 10; }
  .header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    right: 1px;
    padding: 0 30px;
    margin-top: 5px;
    transition: 0.3s ease-in-out;
    background: transparent;
    z-index: 60; }
    .header__navbar li {
      margin-top: 4px; }
    .header__navbar #navbarMenuIcon {
      display: none; }
  .header__btn {
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 4px;
    font-size: 14px;
    transition: 0.35s; }
    .header__btn:hover {
      background-color: rgba(90, 90, 122, 0.6); }
    @media (max-width: 900px) {
      .header__btn {
        visibility: hidden; } }
  .header__login {
    all: unset;
    padding: 4px 10px;
    margin: 0 5px 0 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.35s;
    background-color: #e91c60e7;
    cursor: pointer; }
    .header__login .loginT {
      color: #bcc7d4; }
    .header__login:hover {
      background-color: #e91c60; }
    @media (max-width: 900px) {
      .header__login {
        visibility: hidden; } }
  .header__menu {
    display: flex; }
    .header__menu .navbarCartIcon {
      z-index: 60;
      border-radius: 2px;
      margin-top: 2px;
      margin-right: 15px;
      margin-left: 15px;
      height: 29px;
      width: 32px;
      position: relative;
      text-align: center;
      transition: 0.2s;
      align-items: center;
      display: flex;
      justify-content: flex-start;
      background-color: rgba(90, 90, 122, 0.4); }
      .header__menu .navbarCartIcon:hover {
        background-color: rgba(90, 90, 122, 0.6); }
      @media (max-width: 900px) {
        .header__menu .navbarCartIcon {
          position: absolute;
          right: 60px; } }
      .header__menu .navbarCartIcon .shopIcon {
        color: #bcc7d4;
        height: 18px;
        width: 100%;
        padding-top: 2px;
        padding-right: 1px; }
      .header__menu .navbarCartIcon span {
        position: absolute;
        top: -100%;
        bottom: 0;
        right: -100%;
        left: 0;
        margin: auto;
        border-radius: 100px;
        background: #e91c60;
        height: 12px;
        width: 12px;
        font-size: 8px;
        color: #fff;
        font-weight: 900; }
  .header__logo {
    z-index: 60;
    width: 190px;
    margin: 0;
    padding: 0 15px;
    position: relative; }
    @media (max-width: 900px) {
      .header__logo {
        width: 130px;
        left: -23px; } }
    .header__logo img {
      max-width: 100%;
      border-style: none;
      vertical-align: middle; }
  .header__top {
    background: transparent; }

.bg-nav {
  background-color: rgba(20, 26, 34, 0.7);
  border-radius: 25px 25px 25px 25px; }

#contactPage {
  height: 100%;
  margin: auto;
  width: 100%;
  padding: 0 20px;
  max-width: 600px;
  margin-top: -350px;
  position: relative; }
  #contactPage h1 {
    margin: 0 0 19px 30px;
    font-size: 180%;
    font-weight: 500;
    border-bottom: #e91c60; }
    @media (max-width: 900px) {
      #contactPage h1 {
        margin-left: -5px; } }
  #contactPage .contactSlot {
    background: #1e2025;
    padding: 50px;
    color: #bcc7d4;
    border-radius: 10px;
    margin-bottom: 100px; }
    @media (max-width: 900px) {
      #contactPage .contactSlot {
        margin: 0 -18px; } }
    #contactPage .contactSlot .label {
      color: #7e8893;
      margin: 20px 0 10px; }
      #contactPage .contactSlot .label .first {
        margin-top: 30px; }
    #contactPage .contactSlot .formInput {
      position: relative;
      width: 100%; }
      #contactPage .contactSlot .formInput input {
        border-radius: 8px;
        padding: 0 20px;
        overflow: hidden;
        font-size: 16px;
        color: #7e8893;
        transition: .2s;
        background: #17191d;
        width: 100%;
        height: 50px;
        outline: none;
        border-style: none; }
    #contactPage .contactSlot .formText {
      position: relative;
      width: 100%; }
      #contactPage .contactSlot .formText textarea {
        padding: 20px;
        overflow: hidden;
        font-size: 16px;
        color: #7e8893;
        transition: .2s;
        background: #17191d;
        width: 100%;
        resize: vertical;
        overflow-y: scroll;
        border: 1px solid transparent;
        border-radius: 8px;
        vertical-align: top;
        writing-mode: horizontal-tb !important;
        text-transform: none; }
        #contactPage .contactSlot .formText textarea:focus {
          outline: none; }
  #contactPage .captcha {
    margin-top: 20px; }
    #contactPage .captcha button {
      margin-top: 15px;
      cursor: pointer;
      border-radius: 8px;
      text-align: center;
      padding: 14px 18px;
      color: #fff;
      font-weight: 900;
      background: #e91c60c0;
      border: none; }
      #contactPage .captcha button:hover {
        background-color: #e91c60; }

@media (max-width: 900px) {
  #setting {
    margin: 0 -25px; } }

#loginPageHeader {
  background: url("/src/img/studio4.jpg") no-repeat center center/cover;
  height: 50vh;
  position: relative;
  margin-bottom: 410px; }
  #loginPageHeader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 75%, #000) 100%; }

#loginSec {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: 0.3s;
  position: relative; }
  #loginSec #formBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(255, 255, 255, 0.1);
    transition: 0.3s ease-in-out;
    border-radius: 15px; }
    #loginSec #formBx.active {
      left: 50%; }
  #loginSec .loginContainer {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px; }
    #loginSec .loginContainer #bgOne {
      position: absolute;
      top: 40px;
      width: 100%;
      height: 420px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(14, 37, 48, 0.5);
      box-shadow: 0 5px 45px rgba(255, 255, 255, 0.12); }
      #loginSec .loginContainer #bgOne.active {
        background: rgba(68, 21, 33, 0.5); }
      #loginSec .loginContainer #bgOne .loginBox {
        position: relative;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        #loginSec .loginContainer #bgOne .loginBox h2 {
          color: #bcc7d4;
          font-size: 1.2em;
          font-weight: 500;
          margin-bottom: 10px; }
        #loginSec .loginContainer #bgOne .loginBox button {
          cursor: pointer;
          padding: 10px;
          background: #fff;
          color: #333;
          font-weight: 500;
          border: none; }

body {
  font-family: "Open Sans", sans-serif;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
  overflow-x: hidden;
  background: #000;
  color: #bcc7d4; }

ul {
  list-style: none; }

a {
  color: #333;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  line-height: 1.2; }

p {
  margin: 10px 0; }

img {
  width: 100%; }

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
  z-index: 20; }
  .hero h1 {
    font-size: 55px;
    letter-spacing: 8px; }
    @media (max-width: 900px) {
      .hero h1 {
        font-size: 100%; } }
  .hero p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
    letter-spacing: 6px; }
    @media (max-width: 900px) {
      .hero p {
        font-size: 100%; } }
