@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
  line-height: 1.6;
  min-height: 100vh;
  overflow-x: hidden;
  color: #bcc7d4;
}

h1,
h2,
h3,
h4,
h5 {
   font-weight: 300;
   line-height: 1.2;
}

.burger {
  flex-flow: column nowrap;
}

.burgerList {
  transition: all 0.3s linear;
  transform-origin: 14.5px;
}

.open:nth-child(1) {
  transform: rotate(45deg) translateY(11px);
}
.open:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}
.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-11px);
}

.close:nth-child(1) {
  transform: rotate(0);
}
.close:nth-child(2) {
  transform: translateX(0);
  opacity: 1;
}
.close:nth-child(3) {
  transform: rotate(0);
}

