@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
  line-height: 1.6;
  min-height: 100vh;
  overflow-x: hidden;
  color: #bcc7d4;
}

h1,
h2,
h3,
h4,
h5 {
   font-weight: 300;
   line-height: 1.2;
}